body {
  font-family: monospace;
  font-size: 18px;
  background-color: #000;
  color: #FFF;
}

.i {
  margin: 0px;
}

.cmdline {
  background-color: #000;
  color: #FFF;
  border: 0px;
  outline: 0pt none;
  font-family: monospace;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  width: 80%;
}